In [8]:
# 단축키
# shift + enter : 실행 후 다음  cell로 이동
# contrl + enter 실행 후 실행한 cell에 머무른다.
1+1

2

In [10]:
# 변수
name = "홍길동" # "홍길동" 이라는 값을 name이라는 변수에 대입. 이름이 name인 공간이 메모리에 없으면 새로 만들고 대입.. 있으면 있는 공간에 대입

In [11]:
print(name) # print(값) ()안의 값을 출력하는 함수

홍길동

In [12]:
age = 25

In [13]:
print(age) # age 변수의 값 출력

25

In [14]:
age = 50 # age 변수의 값을 50으로 대체(재할당)

In [15]:
print(age)

50

In [16]:
print(name)

홍길동

In [17]:
name = "이순신"

In [18]:
print(name)

이순신

In [19]:
age = age + 20 # 1.age 변수가 가진 값과 20을 더하는 처리
               # 2. 1에서 처리한 값을 age 변수에 대입

In [20]:
print(age)

70

In [21]:
age2 = age - 40

In [22]:
print(age2)

30

In [23]:
print(age)

70

In [24]:
print(address) # 이름이  address인 변수의 값 출력 -> 없는 변수를 사용할 경우 에러 발생

NameError: name 'address' is not defined

In [25]:
print(age)

70

In [27]:
age = 30

In [30]:
Age = 50

In [31]:
print(age, Age) # 두개값을 한번에 출력

30 50

In [33]:
주소 = "서울시 서초구 서초동" #변수명으로 한글 가능
print("주소")

주소

In [34]:
우리집_주소 = " 서울시 강남구" # 특수문자 _ 사용가능. _는 단어 구분자로 사용.

In [35]:
print(우리집_주소)

 서울시 강남구

In [36]:
my_email_address = "rnjsgur5718@naver.com"

In [37]:
myEmailAddress = "gurwns5718@naver.com" # cameL 표기법

In [38]:
5age = 30 # 숫자를 첫번째 글자로 사용할 수 없다 ( 변수명)

SyntaxError: invalid syntax (Temp/ipykernel_1648/4109464283.py, line 1)

In [39]:
# 여러개 변수에 같은 값을 대입
a = 10
b = 10
c = 10

In [42]:
a=b=c=20

In [43]:
print(a,b,c)

20 20 20

In [45]:
age1 = age2= age3 = age4= 0

In [46]:
print( age1, age2, age3,age4)

0 0 0 0

In [47]:
# 여러개의 값을 여러개 변수에 한번에 대입
a = 10
b = 20
c = 30

In [50]:
# 튜플대입
a, b, c = 10, 20, 30 # 변수의 개수와 값의 개수가 같아야 한다
print(a,b,c)

10 20 30

In [51]:
age1, age2, age3, age4 = 50, 60, 70, 80
print(age1, age2,age3, age4)

50 60 70 80

In [52]:
# 변수를 메모리에서 삭제
del age1

In [53]:
print(age1)

NameError: name 'age1' is not defined

In [55]:
del(age2)
print(age2)

NameError: name 'age2' is not defined

In [58]:
# 동적타입언어 -> 하나의 변수에 다양한 타입의 값들을 대입할 수 있다.
age = 30
print( age)# 정수 대입
age = "스무살"#문자열 대입
print(age)
age = 25.7
print( age) # 실수

30
스무살
25.7

In [60]:
# 정적타입언어 -> 변수에 타입을 고정해서 같은 타입의 값들만 저장.
# int age = 20
# age = 40
# age = 50
# age = "스무살" # 에러

In [61]:
# 값, 변수의 타입을 확인하는 함수 -type(값)
type(age)

float

In [62]:
age = 30
type(age)

int

In [63]:
tall=178.9
type(tall)

float

In [ ]:
# 데이터타입
#숫자형

In [1]:
f1 = 0.5
f2 = 356.7
print(f1, f2)

0.5 356.7

In [2]:
f3 = .5 # 정수부가 0일 경우 0은 생략가능
print(f3)

0.5

In [3]:
#  지수표기법 
f4 = 3e10 # 5 * 10**10
print(f4)

30000000000.0

In [6]:
f5 = 3246e5
print(f5, type(f5))

324600000.0 <class 'float'>

In [7]:
f6 = 3e-3 # 3 *10 **-3
print(f6)

0.003

In [9]:
type(10), type(3.2) #int 정수  float 실수

(int, float)

In [13]:
print(2**5) # 제곱연산자
print(10/3) # 나누기
print(10//3) # 몫
print(10% 3) # 나머지

32
3.3333333333333335
3
1

In [14]:
num = 1000
# num이 5의 배수?
print(num % 5)# 결과가 0이면 5의 배수

0

In [15]:
#논리형
b1 =True
b2 = False
print(b1, b2)

True False

In [18]:
# contrl + /
# bool(값) 다른 타입의 값을 논리형으로 변환
# 빈문자열, 0,None -> False
print(bool(""), bool("abc"), bool(" "))
print(bool(0), bool(0.0), bool(50), bool(-50))
print(bool(None))

False True True
False False True True
False

In [22]:
# 비교연산자
print(5==10)
print(10 ==10)
print(5 != 10)
print(10 != 10)
print("abc" != "ac")

False
True
True
False
True

In [24]:
print( 10>5)
print(10 < 5)
print(10>=10)

True
False
True

In [27]:
print("a" > "b")
print(ord("a"), ord("b")) #문자를 숫자로 변경

False
97 98

In [28]:
# 특수문자 < 숫자  < 영문자  < 한글 
print(ord("#"), ord("0"), ord("A"), ord("a"), ord("가"))

35 48 65 97 44032

In [30]:
print("abcdf" > "abcef")

False

In [37]:
num =10
# num이 5~ 20 사이의 숫자인가?
result = num >5  and  num<20
print(result)
print(not result)

True
False

In [36]:
# numdl 5~20 사이 밖의 숫자인가?
num =10
result =  num<5 | num>20
print(result)
print(not result)

False
True

In [39]:
True ^ False

True

In [40]:
True ^ True

False

In [41]:
# 조건연산자
num = 10
var = "양수"  if num>=0 else "음수"
print(var)

양수

In [42]:
a = None
print(a)

None

In [46]:
# 문자열
# escape 문자
print("abc\bd")
print("abc\ndef\nghi")
print("""abc
def
hgi""")
print("abc\tdef")

abcd
abc
def
ghi
abc
def
hgi
abc	def

In [47]:
print("a\\a\\a\\")

a\a\a\

In [50]:
print("C:\\Users\\권수민\\Desktop\\01_python 기초")
# escape 문자의 \을 무시: r-string
print(r"C:\Users\권수민\Desktop\01_python 기초")

C:\Users\권수민\Desktop\01_python 기초
C:\Users\권수민\Desktop\01_python 기초

In [52]:
print("I'm a boy")
print('I\'m a boy')

I'm a boy
I'm a boy

In [54]:
print("abc\"def")
print('abc\"def')

abc"def
abc"def

In [57]:
# 문자열 연산자
print( "a" +"b") #합친다
name = "홍길동"
print("이름 : "+ name)

ab
이름 : 홍길동

In [60]:
age =20
tall = 178.8
print("나이 : " +str(age))
print("키 : " + str(tall))

나이 : 20
키 : 178.8

In [63]:
print("-"*10)
print("abcd" *5)

----------
abcdabcdabcdabcdabcd

In [67]:
print(name,len(name))
print(len("asdfasdfasdf"))

홍길동 3
12

In [70]:
addr = "서울시 서초구 서초동"
r = "서초구" in addr #addr 문자열 안에 "서초" 문자열이 있나?
print(r)
r2 = "종로구" in addr
print(r, r2)

True
True False

In [71]:
addr = "서울시 서초구 서초동"
r = "서초구" not in addr #addr 문자열 안에 "서초" 문자열이 있나?
print(r)
r2 = "종로구" not in addr
print(r, r2)

False
False True

In [74]:
# print(값) 값을 출력
2+1
3+3
1+1

2

In [75]:
print (1+1)
print (3+3)
print (2+1)

2
6
3

In [76]:
"a"

'a'

In [77]:
print("a")

a

In [80]:
print("A", 20, "30", 3.2323) #출력하려는 값들이여러개일 경우 , 를 구분자로 해서 나열
print("A", 20, "30", 3.2323, sep=" | ")

A 20 30 3.2323
A | 20 | 30 | 3.2323

In [82]:
# print() 출력할 값 뒤에 엔터를 기본적을 붙임. 그래서 다음 출력은 다음줄에 나온다.
print("abc")
print("def")

abc
def

In [86]:
print("abc", end="-") # end는 출력할 값뒤에 붙일 값을 변경한다.
print("def")

abc-def

In [87]:
# 인덱싱

In [104]:
s= "안녕하세요. 반갑습니다."
print(s)

안녕하세요. 반갑습니다.

In [96]:
print("2번 index 글자(3번재) :",s[2])
print("5번 index 글자(6번째) :", s[5])
print("뒤에서 2번째 글자: ",s[-2])
print(s[7], s[-6])

2번 index 글자(3번재) : 하
5번 index 글자(6번째) : .
뒤에서 2번째 글자:  다
반 반

In [99]:
s[3] = "가" # index를 이용해 특정 문자를 변경할 수 없다.

TypeError: 'str' object does not support item assignment

In [107]:
s.index("세")

3

In [110]:
s = "asdfasdfadfsdf"
print(len(s)) #14글자 - index: 0~13

14

In [112]:
s[2:10:2] # 범위: 2~10-1(9) 간격 2->2,4,6,8,

'dada'

In [114]:
s[2:10] # 간격 생략- 기본값 : 1 , :도 생략가능

'dfasdfad'

In [115]:
s[:10] # 시작 생략-기본값:0:0~9

'asdfasdfad'

In [116]:
s[10:] # 종료 생략 - 마지막 index 까지 조회

'fsdf'

In [117]:
s[::3]

'afddd'

In [119]:
s[5:1:-1] # 시작 :5 ~ 종료 : 2

'safd'

In [120]:
s[::-1]

'fdsfdafdsafdsa'

In [121]:
s[-2:3:-1]

'dsfdafdsa'

In [122]:
# formatting 문자열

In [128]:
name1, age1, address1 = "홍길동", 10, "서울"
name2, age2, address2 = "이순신", 20, "인천"
name3, age3, address3 = "강감찬", 30, "부산"

In [131]:
info1 = "이름: "+name1+"\n나이: "+str(age1)+"세\n주소: "+address1
print(info1)

이름: 홍길동
나이: 10세
주소: 서울

In [133]:
#{} -> 나중에 값이 들어갈 자리
info_layout = "이름 : {}\n나이 : {}세\n주소 : {}"

info1=info_layout.format(name1,age1, address1)
print(info1)

이름 : 홍길동
나이 : 10세
주소 : 서울

In [134]:
print(info_layout.format(name2, age2, address3))

이름 : 이순신
나이 : 20세
주소 : 부산

In [136]:
print("이름 : {}\n나이 : {}세\n주소 : {}" .format(name3,age3,address3))

이름 : 강감찬
나이 : 30세
주소 : 부산

In [139]:
#{0}: 첫번째 값 {1} : 두번째 값
# 동일한 값을 여러군데에서 사용할 경우.
print("이름 : {0}\n나이 : {1}세\n주소 : {2}, 이름 : {0}" .format(name3,age3,address3))

이름 : 강감찬
나이 : 30세
주소 : 부산, 이름 : 강감찬

In [142]:
#{name} : 괄호의 이름지정. 값 전달시 관호이름 = 값
print("이름 : {name}\n나이 : {age}세\n주소 : {addr}" .format(name=name3,age=age3,addr=address3))

이름 : 강감찬
나이 : 30세
주소 : 부산

In [145]:
# 형식문자를 이용한 formtting
# %s-string, %d-int, %f-float
name, age, weight ="홍길동", 23, 72.7
info = "이름: %s, 나이: %d, 몸무게: %.2f"   %  (name, age, weight)
print(info)

이름: 홍길동, 나이: 23, 몸무게: 72.70

In [147]:
# f-string
name, age, weight ="홍길동", 23, 72.7
print(f"이름: {name}, 나이: {age}, 몸무게: {weight}")

이름: 홍길동, 나이: 23, 몸무게: 72.7

In [153]:
weight = 81.156
print(f"이름: {name:^5}, 나이: {age}, 몸무게: {weight:.2f}")

이름:  홍길동 , 나이: 23, 몸무게: 81.16

In [156]:
# 타입 : f-실수, d-정수, s-문자열
f"이름 : {name:.2f}"

ValueError: Unknown format code 'f' for object of type 'str'

In [160]:
# 문자열 관련 함수/메소드
s="사과|귤|배|수박|복숭아"
s.split("|")

['사과', '귤', '배', '수박', '복숭아']

In [164]:
s2 = "   abc  "
s2.lstrip()
s2.rstrip()
s2.strip()

'abc'

In [166]:
s3 = "abcabcabc"
s3.replace("ab", "가") # ab를 가로 변경

'가c가c가c'

In [170]:
len(s3) #s3의 글자수
s3.count("a")
s3.count("bc")

3

In [178]:
s3.index("a") # a index
s3.index("bc")
s3.index("가") # 없는 문자열을 찾으면 에러

ValueError: substring not found

In [179]:
s3.find("a")
s3.find("bc")
s3.find("가") # 없는 문자열을 찾을 경우 -1을 반환

-1

In [182]:
"가 없다" if s3.find("가") == -1 else "가 있다."

'가 없다'

In [184]:
s4 = "AbCdE"
s4.upper()
s4.lower()

'abcde'

In [186]:
addr = "서울시 서대문구"
addr.startswith("서울")
addr.startswith("광주")

False

In [190]:
url = "www.naver.com"
url.endswith(".com")
url.endswith(".net")

False

In [201]:
# 타입변환

num1 =input("num1:") # 사용자로부터 값을 입력받을 때 사용. 입력받은 값을 str으로 반환

num1:20

In [200]:
num2 = input("num2: ")

num2: 50

In [203]:
# 덧셈을 하려면 문자열을 정수/실수 변환
int(num1) +int(num2)

70

In [204]:
float(num1) + float(num2)

70.0

In [205]:
s= input()

abc

In [206]:
int(s) # abc를 정수로 변환
# float(), int()는 변환가능한 형태의 문자열만 변환

ValueError: invalid literal for int() with base 10: 'abc'

In [207]:
int(True) #True : 1
int(False) #False : 0

0

In [1]:
# 문자열 퀴즈

#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.
jumin="901211-1027213"
print(jumin[0:6])
jumin.split("-")[0]

901211

'901211'

In [2]:
#2. "안녕하세요" 를 10번 출력하시오.
hi="안녕하세요"
print(hi*10)

안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요

In [216]:
#3. 다음 문자열의 글자수를 출력하시오.
#     "akdlclkdkdlelql39du7마구0ㅌ"
s= "akdlclkdkdlelql39du7마구0ㅌ"
len(s)

24

In [232]:
# #4.
# name="TV"
# price=300000
# maker = "LG"
# # 위 변수의 값을 다음과 같은 형태로 출력하시오.
# #"제품명 : TV, 가격 : 300000, 제조사 : LG"
name="TV"
price=300000
maker = "LG"
print("제품명 : {}, 가격 : {}, 제조사 : {}".format(name, price, maker))
print(f"제품명 : {name}, 가격 : {price}, 제조사 : {maker}")
print("제품명 : %s, 가격:  %d, 제조사 : %s" % (name, price, maker))

제품명 : TV, 가격 : 300000, 제조사 : LG
제품명 : TV, 가격 : 300000, 제조사 : LG
제품명 : TV, 가격:  300000, 제조사 : LG

In [235]:
#5
# fruits = "사과 복숭아 귤 배"
# # 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.
fruits = "사과 복숭아 귤 배"
fruits.find("수박")
# "수박" in fruits
"있음"  if "수박" in fruits else  "없음"

'없음'

In [237]:
#6 
# str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
# str_value 문자열안에 a가 몇개 있는지 출력하시오.
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
str_value.count("a")
print("총글자수:" , len(str_value))
print("a의 개수:", str_value.count("a"))

총글자수: 35
a의 개수: 9